// COLOR VARIABLES
$color-primary     : #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$bp-bigest :75em; //1200px
$bp-big    :62.5em; //1000px
$bp-medium :56.25em; //900px
$bp-small  :37.5em; //600px
$bp-small  :37.5em; //600px
$bp-smallest  :25em; //400px

// FONT VARIABLES
$font-primary: 'Nunito',
sans-serif;
$font-display: 'Josefin Sans',
sans-serif;

*,
*::before,
*::after {
    padding   : 0;
    margin    : 0;
    box-sizing: inherit;
}

html {
    font-size  : 62.5%; //10px
    font-family: $font-primary;
    box-sizing : border-box;
    color      : $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;

    @media only screen and (max-width:$bp-bigest) {
        font-size: 50%; //8px
    }
}

.container {
    display              : grid;
    grid-template-rows   : 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start]8rem [full-start]minmax(8rem, 1fr) [main-start]repeat(8, [col-start] minmax(min-content, 15rem)[col-end]) [main-end] minmax(8rem, 1fr) [full-end];

    @media only screen and (max-width:$bp-big) {
        grid-template-columns: [full-start]minmax(8rem, 1fr) [main-start]repeat(8, [col-start] minmax(min-content, 15rem)[col-end]) [main-end] minmax(8rem, 1fr) [full-end];
    }

    @media only screen and (max-width:$bp-medium) {
        grid-template-rows   : min-content repeat(8, min-content);
        grid-template-columns: [full-start]minmax(8rem, 1fr) [main-start]repeat(8, [col-start] minmax(min-content, 15rem)[col-end]) [main-end] minmax(8rem, 1fr) [full-end];
    }
}

.btn {
    border          : none;
    border-radius   : 0;
    background-color: $color-primary;
    color           : #fff;
    font-size       : 1.5rem;
    padding         : 1.8rem 3rem;
    @media only screen and (max-width:$bp-small) {
        padding         : 1.2rem 2rem;
    }
    &:hover {
        background-color: $color-primary-dark;
    }

    &:active {
        background-color: $color-primary;
        transform       : translateY(-.1rem);
    }

}