.realtors {
    grid-column: col-end 6/full-end;

    @media only screen and (max-width:$bp-medium) {
        grid-column: 1/-1;
    }

    background-color   : $color-secondary;
    display            : grid;
    row-gap            : 2rem;
    grid-template-rows : repeat(2, min-content);
    justify-content    : center;
    align-content      : center;

    @media only screen and (max-width:$bp-medium) {
        grid-template-rows   : min-content 1fr;
        grid-template-columns: 1fr;
        align-items          : center;
        padding              : 2rem 2rem 4rem 2rem;
    }

    @media only screen and (max-width:$bp-small) {
        padding: 2rem;
    }

    &__heading {
        text-align: center;
    }

    &__list {
        display              : grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, min-content));
        gap                  : 2rem;

        @media only screen and (max-width:$bp-medium) {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

        }

        @media only screen and (max-width:$bp-small) {
            display       : flex;
            flex-direction: column;
            padding       : 2rem;
        }
    }

    &__item {
        display              : grid;
        grid-template-columns: min-content max-content;
        column-gap           : 1.5rem;
        justify-content      : center;

    }

    &__img {
        width        : 7rem;
        height       : 7.2rem;
        border-radius: 50%;
    }

    &__detail {
        align-self: center;
    }

    &__sold {
        color: $color-grey-light-2;
    }
}